$grid-columns = 12
$grid-gutter-width = 2%

// Common styles for grid columns
$col-common
  position: relative
  display: inline-block
  min-height: 1px
  font-size: 16px
  vertical-align: top
  margin-right: -(@font-size / 4)
  .ie7 &
    display: inline
    zoom: 1

// Media queries breakpoints
// --------------------------------------------------
$screen-min = 290px + $grid-gutter-width
$screen-small = 560px + $grid-gutter-width
$screen-modest = 740px + $grid-gutter-width
$screen-normal = 930px + $grid-gutter-width
$screen-medium = 1200px + $grid-gutter-width
$screen-max = 1500px + $grid-gutter-width

$grid-col-class = col


for i in 1..$grid-columns
  .{$grid-col-class}-{i}
    @extend $col-common
    width: ( (100% - ((($grid-columns / i) - 1) * $grid-gutter-width)) / ($grid-columns / i) )
    @media screen and (max-width: 800px)
      width: 100%
      margin-left: 0 !important
      & + &
        margin-top: $grid-gutter-width

    & + &
      margin-left: $grid-gutter-width
    if i == 2 || 4
      & + .{$grid-col-class}-{$grid-columns - i}
        margin-left: $grid-gutter-width

.container
  max-width: 1170px + $grid-gutter-width * 2
