code
  background: desaturate(lighten($purple, 40%), 33%)
  padding: 0.05em 0.2em
  border-radius: 3px
  color: #fff
  white-space: nowrap
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace
  font-size: 1em
  -webkit-hyphens: none
  -moz-hyphens:    none
  -ms-hyphens:     none
  hyphens:         none
  line-height: 1.4
  th &
    background: initial
    padding: initial
    border: none
    color: initial
    white-space: initial

  pre &
    -transparent-bg()
    display: block
    padding: 12px
    white-space: pre
    overflow: auto
    color: initial
    border-radius: initial

pre
  border-top: 0
  margin-top: 0
  max-width: 100%
  position: relative

  &[data-type]
    &:before
      content: attr(data-type)
      display: block
      color: #fff
      background: $purple
      background: -webkit-linear-gradient(315deg, transparent 9px, $purple 9px)
      background: linear-gradient(135deg, transparent 9px, $purple 9px)
      font-weight: 700
      padding: 7px 0
      text-indent: 15px
      text-transform: uppercase
      font-family: "Consolas", monospace

  // overwrite content if a preprocessor is used
  &[data-csspre]
    &:before
      content: attr(data-csspre)
      background: #6a6a6a
      background: -webkit-linear-gradient(315deg, transparent 9px, @background 9px)
      background: linear-gradient(135deg, transparent 9px, @background 9px)
    &[data-version]
      &:after
        content: attr(data-version)'+'
        text-align: center
        right: 100px
        top: 0
        position: absolute
        color: #afafaf
        padding: 7px 0

$export-button
  position: absolute
  -webkit-transition: all 330ms cubic-bezier(0.500, -1.000, 0.500, 2.000)
  transition: all 330ms cubic-bezier(0.500, -1.000, 0.500, 2.000)
  &:hover
    -webkit-transform: scale(1.63)
    transform: scale(1.63)

.codepen-button
  @extend $export-button
  top: 3px
  right: 10px
  height: 32px

.jsbin-button
  @extend $export-button
  top: 1px
  right: 55px
  height: 36px

// codemirror styles

.cm-keyword,
.cm-attribute
  color: #994500
.cm-atom
  color: #219
.cm-property,
.cm-tag,
.cm-variable
  color: #7C1775
.cm-variable-2,
.cm-def
  color: #05a
.cm-variable-3,
.cm-number
  color: #164
.cm-comment
  color: #236E25
.cm-string
  color: #B32727
.cm-meta,
.cm-qualifier,
.cm-operator
  color: #111
.cm-builtin
  color: #37148A
.cm-bracket
  color: #cc7
