$code-button-height = 28px

code
  background: #e6e6e6
  padding: 0.05em 0.2em
  border-radius: 3px
  color: $purple
  white-space: nowrap
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace
  font-size: 1em
  -webkit-hyphens: none
  -moz-hyphens:    none
  -ms-hyphens:     none
  hyphens:         none
  line-height: 1.4
  td &,
  th &
    background: initial
    padding: initial
    border: none
    color: initial
    white-space: initial

  pre &
    display: block
    padding: 12px
    white-space: pre
    overflow: auto
    background-color: $transparent-bg
    color: initial
    border-radius: initial

pre
  border-top: 0
  margin-top: 0
  max-width: 100%
  position: relative

  &[data-type]
    &:before
      content: attr(data-type)
      display: block
      color: #fff
      background: $purple
      background: linear-gradient(135deg, transparent 9px, $purple 9px)
      font-weight: 700
      padding: 5px 0
      text-indent: 15px
      text-transform: uppercase
      font-family: "Consolas", monospace

  // overwrite content if a preprocessor is used
  &[data-csspre]
    &:before
      content: attr(data-csspre)
      background: #5e5e5e
      background: linear-gradient(135deg, transparent 9px, @background 9px)

.jsbin-button,
.codepen-button
  position: absolute
  top: 3px
  right: 10px
  height: $code-button-height
  @media screen and (min-width: 960px)
    opacity: 0.66
    &:hover
      opacity: 1

.jsbin-button
  right: 50px
