.site-navigation
  @extend $u-cf
  position: relative
  margin: 10px 0 0
  font-size: 18px
  z-index: 1
  @media only screen and (max-width: 700px)
    font-size: 14px

  a
    display: inline-block
    color: #fff
    padding: 8.5px 3%
    margin: 0 -0.2em

    &:hover
      color: $purple
      background-color: #bbb

    &:focus,
    &.active,
    &:active
      color: $purple
      background-color: #fff
