.site-navigation
  @extend $u-cf
  position: relative
  margin: 10px 0 0
  font-size: 18px
  z-index: 1

  a
    display: inline-block
    color: #ccc
    padding: (3 + $nav-border-size) 3% 2px
    margin: 0 -4px
    border-style: solid
    border-width: 0 0 $nav-border-size
    border-color: transparent

    &:hover
      color: #eee

    &:focus,
    &.active,
    &:active
      color: #eee
      border-color: @color
