html
  background-color: #b7b2ad
  padding: 0

header
  background: $purple
  text-align: center

.site
  background: #f6f7f8
  -transparent-bg(0.36)
  max-width: $site-width
  margin: 0 auto 20px
  padding: 6px 3.6% 1%
  position: relative
  + .site
    padding-top: 30px

.site-title
  margin: 0
  font-size: 56px
  font-family: 'Iceland', sans-serif
  line-height: 1.1
  color: #eee
  @media screen and (max-width: 800px)
    font-size: 46px
  @media screen and (max-width: 660px)
    font-size: 30px
    text-align: left
    text-indent: 5px

.site-title a
  color: #eee
  &:hover
    color: #fff

.page-title
  font-size: 46px
  font-family: 'Iceland', sans-serif
  @media screen and (max-width: 800px)
    font-size: 38px

.donate-form
  text-align: center

  input[type="submit"]
    background: $purple
    background: -webkit-linear-gradient(315deg, transparent 5px, $purple 5px)
    background: linear-gradient(135deg, transparent 5px, $purple 5px)
    border: 0
    color: #fff
    padding: 6px 12px
    cursor: pointer
    font-size: 14px
    &:hover
      background: darken($purple, 15%)
      background: -webkit-linear-gradient(315deg, transparent 5px, darken($purple, 15%) 5px)
      background: linear-gradient(135deg, transparent 5px, darken($purple, 15%) 5px)

  p
    display: inline-block
