html
  background-image: url("//csspre.com/images/triangular-pattern.png")
  background-size: 30px 30px
  background-color: #b7b7bD
  padding: 0

header
  background: $purple
  text-align: center
  margin-bottom: -64px

.site
  background-color: #f6f7f8
  background-color: rgba(255,255,255,0.36)
  max-width: $site-width
  margin: 20px auto
  padding: 50px 3.6% 1%
  position: relative

.site-title
  margin: 0
  font-size: 82px
  font-family: 'Iceland', sans-serif
  line-height: 1.1
  color: #eee
  @media screen and (max-width: 800px)
    font-size: 49px
  @media screen and (max-width: 450px)
    font-size: 32px

.site-title a
  color: #eee
  &:hover
    color: #fff

.page-title
  font-size: 54px
  font-family: 'Iceland', sans-serif
  @media screen and (max-width: 800px)
    font-size: 38px
