table,
th,
td
  border: 1px solid rgba(0, 0, 0, 0.1)

table
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: 24px
  width: 100%

caption,
th,
td
  font-weight: normal
  text-align: left

th
  border-width: 0 1px 1px 0
  font-weight: bold
  padding-right: 0.5em
  padding-left: 0.5em
  @media only screen and (max-width: 700px)
    font-size: 13px
    font-weight: normal

td
  border-width: 0 1px 1px 0
  &.available
    fill: #447B3D
    position: relative
    color: darken(@fill, 60%)
    background: lighten(@fill, 90%)
  &.partial
    fill: #DF9C0C
    position: relative
    color: darken(@fill, 60%)
    background: lighten(@fill, 90%)
  &.not-available
    fill: #A21F1F
    background: lighten(@fill, 90%)

.table-content
  -transparent-bg()
  position: relative
  margin-top: 2em
  table-layout: fixed
  border-color: #444

  .required-version
    position: absolute
    top: 0
    left: 0
    font-size: 14px
    border-width: 0 1px 1px 0
    border-style: solid
    border-color: @border-color
    padding: 0 5px

  .note
    display: block
    font-size: 12px

  .narrow
    width: 19%

  @media only screen and (max-width: 800px)
    font-size: 14px

  th
    background-color: #ccc

  td
    padding: 5px
    &:first-child
      text-align: left
    strong
      display: block
      text-transform: capitalize
    p
      font-size: 0.9em
      margin-bottom: 0

  td,
  th
    border-color: @border-color
    text-align: center
    &.disabled
      background-color: @border-color

  tbody
    th
      text-align: left
      background: #dfdfdf

  caption
    color: #fff
    top: -2em
    left: 0
    right: -1px
    background: $purple
    background: linear-gradient(135deg, transparent 9px, $purple 9px)
    font-weight: 700
    padding: 5px 0 4px 15px
    text-transform: uppercase
    font-family: "Consolas", monospace

  a
    display: block
    font-size: 1.1em
    text-decoration: none
    text-align: center
    background-color: $light-complementary-color
    color: #000
    &:hover,
    &:focus
      background-color: darken($light-complementary-color, 15%)
