table,
th,
td
  border: 1px solid rgba(0, 0, 0, 0.1)

table
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: 24px
  width: 100%

caption,
th,
td
  font-weight: normal
  text-align: left

th
  border-width: 0 1px 1px 0
  font-weight: bold
  @media only screen and (max-width: 700px)
    font-size: 13px
    font-weight: normal

td
  border-width: 0 1px 1px 0

.table-content
  position: relative
  margin-top: 2em
  table-layout: fixed
  border-color: #444
  background: $transparent-bg

  @media only screen and (max-width: 800px)
    font-size: 14px

  th
    background-color: #ccc

  td
    padding: 5px

  td,
  th
    border-color #444
    text-align: center
    &.disabled
      background-color: @border-color

  tbody
    th
      text-align: left

  caption
    color: #fff
    top: -2em
    left: 0
    right: -1px
    background: $purple
    background: linear-gradient(135deg, transparent 9px, $purple 9px)
    font-weight: 700
    padding: 5px 0 4px 15px
    text-transform: uppercase
    font-family: "Consolas", monospace

  a
    display: block
    font-size: 1.1em
    text-decoration: none
    background-color: $light-complementary-color
    color: #000
    &:hover,
    &:focus
      background-color: darken($light-complementary-color, 15%)
