.tile
  padding: 0.6em 1em
  display: block
  color: #333
  border-style: solid
  border-width: $nav-border-size 0
  border-color: $light-complementary-color
  background-color: #eee
  background-color: rgba(255, 255, 255, 0.66)
  &:hover,
  &:focus
    color: #000
    background-color: #fff

  time
    float: right
    color: #aaa
    font-size: 14px
    line-height: 2.4em