.tile
  padding: 0.6em 1em
  display: block
  color: #333
  font-size: 14px
  border-style: solid
  border-width: $nav-border-size 0
  border-color: $light-complementary-color
  background-color: #eee
  background-color: rgba(255, 255, 255, 0.66)

  &:hover,
  &:focus,
  &:active
    color: #000
    background-color: #fff

  &:focus,
  &:active
    border-color: $purple

  h3
    margin-bottom: 0

  time
    color: #aaa
    font-size: 13px
    margin-bottom: 0.8em
