placeholder-text()
  &::-webkit-input-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

.text-input
  +placeholder-text()
    color: #acacac
    text-transform: uppercase
